config PRO_K011_GAUGE
        bool "k011 product gauge"
        default n
        help
          k011 product gauge

config PRO_K013_GAUGE
        bool "K013 product gauge"
        default n
        help
          K013 product gauge

